<h1> Edit Answer </h1>

<%= form_for @answer, :url => [:survey_admin, @answer.question, @answer] do |f| %>
  <%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%= f.submit 'Update' , :class => 'button' %></div>
<% end %>

<p>
  <%= link_to "Show", [:survey_admin, @answer.question, @answer], :class => 'button' %> |
  <%= link_to "View All", survey_admin_question_answers_path(@answer.question), :class => 'button' %>
</p>
