<h1> Answer </h1>

<p>
  <strong>Question:</strong>
  <%= link_to @answer.question.details, survey_admin_question_path(@answer.question) %>
</p>

<p>
  <strong>Details:</strong>
  <%= @answer.details %>
</p>
<p>
  <strong>Active:</strong>
  <%= @answer.active %>
</p>
<p>
  <strong>Position:</strong>
  <%= @answer.position %>
</p>
<p>
  <strong>Properties:</strong>
  <ul>
    <% @answer.scores.each do |score| %>
      <li style='padding:6px;'>
          <label style='padding:0px 5px 0 0;'>  <%= score.survey_property.name %>:</label>
          <%= score.value %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  <%= link_to "Edit", edit_survey_admin_question_answer_path(@answer.question, @answer), :class => 'button' %> |
  <%= link_to "Destroy", [:survey_admin, @answer.question, @answer], :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> |
  <%= link_to "View Answers", survey_admin_question_answers_path(@answer.question), :class => 'button' %>
</p>
