<% if @question.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <fieldset>
    <%= f.fields_for :answers do |answer_fields| %>
      <ul>
        <li>
          <%= answer_fields.label :details, 'Answer' %>
          <%= answer_fields.text_area :details %>
        </li>
        <li>
          <%= answer_fields.label :position, 'position' %>
          <%= answer_fields.number_field :position %>
        </li>
      </ul>
    <% end %>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
